VITE_SUPABASE_URL=https://covzjzcqerldfssxasax.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvdnpqemNxZXJsZGZzc3hhc2F4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0MDI3MTAsImV4cCI6MjEwMjk3ODcxMH0.bM62o4hpRxsE5A4fveTjUSgGMHKIJ-NxFltRh5r7vTw